<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Information App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<div class="content custom-modal">
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <h4 class="modal-title">Add Student</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" id="form_validation">
                        <div class="row" style="border: 1px solid black;">
                            {% csrf_token %}
                            <br>
                            {% for field in form %}
                                <div class="form-group col-sm-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }} <span
                                            class="text-danger">*</span></label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="m-t-20 text-center">
                            <a href="{% url 'studentInfo:student_list' %}" class="btn btn-primary">Cancel</a>
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
